<html>
    <head>
        <title>Xuan's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">AXN's blog</a></h1>
        </div>
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        <div>
            <p>published: 26.05.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>neuroscientist</p>
        </div>
    </body>
</html>